body {background-color: #C0C0C0}

 h1, p{font-style: bold;
    font-family: Helvetica, sans-serif;}

h2, li {font-family: Helvetica, monospace;}

p {line-height: 23px;
   
   padding: 10px;
   }

a {text-decoration: none}
a:link {color:rgb(255,51,51);}
a:visited {color:rgb(255,255,255)}
a:hover {background-color:#FF0000}
a:active {color: blue;
          background-color: white;}

#circle {background: blue;
    margin: auto;
    border-radius: 50%;
    border: 10px solid black;
    width: 55%;
    height: 55%;
    text-align: center;
    }

.WH {color: white}